<!DOCTYPE html>
<html>
  <head>
    <title>Ormuco</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/form.css') }}">
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid" >
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Ormuco Test</a>
          <ul class="nav navbar-nav pull-right">
            <li id="showhome" role="presentation" class=""><a href="/">Home</a></li>
            <li id="showform" role="presentation" class=""><a href="/showform">Fill The Form</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container ">
      {% block content %}{% endblock %}
      <footer class="footer">
        <p>&copy; Ormuco 2017</p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/form.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </body>
</html>
